.facebook {
    color: #fff !important;
    background-color: #3b5998 !important;
}

.twitter {
    color: #fff !important;
    background-color: #1da1f2 !important;
}

.twitter:hover,
.facebook:hover {
    opacity: 0.5;
}